#image{
    background: url(https://img-global.cpcdn.com/recipes/616be6608363d692/1200x630cq70/photo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.image-text{
    text-align: center;
    color: black;
    padding-top: 180px;
}
.image-text h1{
    font-size: 150px;
}
.image-text p{
    font-size: 35px;
    font-style: italic;
}
