#image{
    background: url(https://img-global.cpcdn.com/recipes/616be6608363d692/1200x630cq70/photo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.image-text{
    text-align: center;
    color: red black;
    padding-top: 200px;
    font-weight: 200;
}
.image-text h1{
    font-size: 180px;
}
.image-text p{
    font-size: 50px;
    font-style: italic;
    color: black;
}
#copy h2{
    font-size: 40px;
    color: green;
    font-weight: 150%;
}
.copy-text{
    font-size: 25px;
    font-weight: 70%;
}